{% extends 'base.html' %}
{% load static %}

{% block title %} Learner Registration {% endblock %}
{% block main %}
<body class="bg-gray-100 flex items-center justify-center  min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full">
        <h1 class="text-2xl font-bold mb-6 text-center text-gray-700">Learner Registration Form</h1>
        <form action="{% url 'HOME_AREA:student_reg_form' %}" method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="space-y-2">
                {{ form.as_p }}
            </div>
            <div class="flex justify-center">
                <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded cursor-pointer">
            </div>
        </form>
    </div>
</body>
{% endblock %}
